$yellow: #FFE600;
$grayOne: #333333;
$grayTwo: #666666;
$grayTree: #999999;
$garyFour: #EEEEEE;

//custom paddings
.p-32 {
    padding: 32px;
}

.pt-32 {
    padding-top: 32px;
}

.pb-32 {
    padding-bottom: 32px;
}

.pr-32 {
    padding-right: 32px;
}

.pl-32 {
    padding-left: 32px;
}

.p-16 {
    padding: 16px;
}

.pt-16 {
    padding-top: 16px;
}

.pb-16 {
    padding-bottom: 16px;
}

.pr-16 {
    padding-right: 16px;
}

.pl-16 {
    padding-left: 16px;
    
}

//font-size for element
.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-46 {
    font-size: 46px;
}

.pointer {
    cursor: pointer;
}

